@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
.movie_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  width: fit-content;
}

.spacebox {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: black;
}
.spacebox_right {
  flex-grow: 0.1;
  margin: 80px 70px 40px 35px;
}
.imgsize {
  width: 130px;
  border: none;
}
.imgtext {
  font-size: 25px;
  position: relative;
  top: -26px;
  right: 21px;
  font-weight: 500;
  font-family: DM Sans;
}

.nextbtn {
  background-color: #148a08;
  color: white;
  font-weight: 500;
  border-radius: 15px;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  width: 150px;
  float: right;
  margin-top: 27px;
  margin-right: 35px;
  cursor: pointer;
  border: none;
}
.spacebox_left {
  margin: 0px 0px 0px 150px;
  flex-grow: 1;
  background-color: black;
}
.warningcolor {
  color: #ff0000;
}

.movie_supertext {
  color: #72db73;
  font-family: "Single Day", serif;
  font-weight: 400;
  font-size: 60px;
  margin-top: 57px;
}
.details_text {
  color: white;
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 700;
  line-height: 74.99px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 25px;
}
.movie_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  width: 180px;
  height: 170px;
}

.movie_chip {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0.5rem;
  padding-top: 0.5rem;
  cursor: pointer;
  border-radius: 17px;
  width: 7rem;
  background: green;
}
.movie_text {
  color: white;
  border: none;
  font-family: "Roboto";
  padding: 5px;
  text-align: center;
  font-weight: 400;
}

.cross_style{
  color: #085C00;
  font-family: "Roboto";
  font-weight: 400;
  position: relative;
  right: -2px;
}
